/* dm-sans-regular - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/dm-sans-v10-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/dm-sans-v10-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dm-sans-700 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/dm-sans-v10-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/dm-sans-v10-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/inter-v8-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v8-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ================ GENERAL BLOCKS =========*/
* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

.body {
  font-family: "DM Sans";
  font-weight: 400;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.default-link {
  display: flex;
  text-decoration: none;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ============ HEADER BLOCKS =======*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 41px 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo .logo__link > .logo__pic {
  margin-right: 10px;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_list:not(:last-child) {
  margin-right: 60px;
}

.header__work {
  border-radius: 0px 18px 0px 0px;
  background-color: #ffac12;
}

.header__work {
  display: flex;
  align-items: center;
}


.header__link {
  align-items: center;

  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.376923px;
  color: #ffffff;
}

.header__link:hover, .header__link:focus{
  color: #ffac12;
  transition: .3s;
}

.header__work span {
  display: block;
  padding: 14px 9px 14px 40px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.427179px;
  color: #000000;
}

.header__link .arrow__right{
  margin-right: 40px;
}


.header__link .arrow__right path{
  display: block;
  margin-right: 40px;
  color: #fff;
}


/* ==================== HERO ===============*/
.hero {
  max-height: 850px;
  padding-top: 200px;
  padding-bottom: 100px;

  background-image: url(/../img/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin: 0;
  margin-bottom: 20px;

  max-width: 519px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -2.01026px;
  color: #ffffff;
}

.hero__subtitle {
  display: block;
  margin: 0;
  margin-bottom: 176px;
  max-width: 428px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.502564px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.wrapper__link {
  background-color: white;
  position: relative;
  margin: 0 auto;
}

.hero__link {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0px;
  left: 0px;
  transform: translateY(-100%);
  background-color: white;
  padding: 37px 861px 37px 40px;
}


.hero__link span {
  display: block;
  margin-right: 9px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.502564px;
  color: #000000;
}

.hero__link span:focus, .hero__link span:hover{
  color: #FFAC12;
  transition: .3s;
}

.hero__link .arrow__right path {
  fill: #ffac12;
}



/*===================== Ours Advantages=======*/

.ours__adv {
  position: relative;
  background-color: #fff;
  padding-bottom: 741px;
}

.ours__adv-wrapper {
  position: absolute;
  max-width: 1238px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 2;
  transform: translateY(150px);

}

.our__adv__photo {
  padding-right: 60px;
  filter: drop-shadow(0px 62px 54px rgba(0, 0, 0, 0.3));
}

.ours__adv__title{
  position: relative;
  display: block;
  margin: 0;
  padding-top: 21px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: -1.25641px;
  color: #000000;
}

.ours__adv__title::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 169px;
  height: 4px;
  background: linear-gradient(90deg, #FFAC12 0%, #000000 94.96%);
  
}

.ours__adv__subtitle {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.502564px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.learn__more-link {
  width: 209px;
  align-items: center;
  background: #000000;
  border-radius: 0px 18px 0px 0px;

}

.learn__more-link span {
  display: block;
  padding: 25px 19px 23px 40px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.427179px;
  color: #FFFFFF;
}

.learn__more-link .arrow__right{
  margin-right: 40px;
}

.learn__more-link .arrow__right path {
  fill: #ffac12;
}


/* =============== FIND PLACE ==================*/

.find__place {
  padding-top: 159px;
  padding-bottom: 393px;
  background-color: #F5F5F5;
}

.find__place-title {
  position: relative;
  display: block;
  margin: 0;
  margin-bottom: 60px;
  padding-top: 17px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: -1.25641px;
  color: #000000;
}

.find__place-title::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 169px;
  height: 4px;
  background: linear-gradient(90deg, #FFAC12 0%, #000000 94.96%);
}

.nav__find{
  margin-bottom: 67px;
}

.find__list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  background-color: #FFFFFF;
  box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
  border-radius: 25px;
 
}

.find__item{
  display: flex;
  justify-content: flex-start;
  padding:  49px 120px 49px 30px;
  
} 

.find__item:not(:last-child) {
  border-right: #E4E4E4 1px solid ; 
}

.find__item span {
  display: block;
  margin: 0;
  margin-right: 9px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.427179px;
  color: #000000;
}

.cases__grid {
  display: grid;
  grid-template-columns: 336px  336px 336px;
  grid-template-rows: 418px  418px ;
  grid-gap: 31px;
}


.cases__items{
  background-color: #fff;
  box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
  border-radius: 25px;
}

.name__case {
  display: block;
  margin: 0;
  margin: 30px 167px 30px 30px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.603077px;
  color: #000000;
}

.service__rating {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.quntity__stars {
  display: inline-block;
  margin: 0;
  padding-left: 10px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.427179px;
  color: #000000;
}

.service__bed {
  padding: 24px 35px 20px 35px;

  border-top: #E4E4E4 1px solid;
  border-right: #E4E4E4 1px solid;
}


.service__shower{
  padding: 24px 35px 20px 35px;

  border-top: #E4E4E4 1px solid;
  border-right: #E4E4E4 1px solid;
}

.service__size {
  padding: 24px 35px 20px 35px;

  border-top: #E4E4E4 1px solid;
  
}

/* ========= REVERS OUR ADVANTAGES =====*/
.ours__adv-rvs {
  position: relative;
  background-color: #fff;
  padding-bottom: 636px;
}

 .ours__adv-rvs-wrapper {
  position: absolute;
  max-width: 1238px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  z-index: 2;
  transform: translateY(-150px);
}

.ours__adv__title-rvs{
  position: relative;
  display: block;
  margin: 0;
  padding-top: 21px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: -1.25641px;
  color: #000000;
}

.ours__adv__title-rvs::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 169px;
  height: 4px;
  background: linear-gradient(90deg, #FFAC12 0%, #000000 94.96%);
}

.ours__adv__subtitle-rvs {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.502564px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.learn__more-link {
  width: 209px;
  align-items: center;
  background: #000000;
  border-radius: 0px 18px 0px 0px;

}

.learn__more-link span {
  display: block;
  padding: 25px 19px 23px 40px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.427179px;
  color: #FFFFFF;
}

.learn__more-link .arrow__right{
  margin-right: 40px;
}

.learn__more-link .arrow__right path {
  fill: #ffac12;
}

.our__adv__photo-rvs {
  padding-left: 60px;
  filter: drop-shadow(0px 62px 54px rgba(0, 0, 0, 0.3));
}

/* ============== CONTENT ===========*/

.content {
  padding-top: 150px;  
  padding-bottom: 150px;  
  background: linear-gradient(225.52deg, #271A00 0.45%, rgba(0, 0, 0, 0.982162) 100.47%);
}

.wrapper__content {
  /* display: flex;
  flex-direction: column;
  align-self: center;
  flex-flow: column nowrap; */
  margin-left: auto;
  margin-right: auto;
  max-width: 475px;
}

.content_title {
  position: relative;
  display: block;
  margin: 0 auto 20px auto;
  padding-top: 17px;

  text-align: center;
  max-width: 505px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: -1.25641px;
  color: #FFFFFF;


}

.content_title::before {
  position: absolute;
  content: "";
  top: 0;
  left: 153px;
  width: 169px;
  height: 4px;

  background: linear-gradient(90deg, #FFAC12 0%, #000000 94.96%);
}

.content__subtitle {
  display: block;
  margin: 0 auto 30px auto;
  max-width: 428px;



  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.502564px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.content__link {
  margin: 0 auto;
  width: 210px;

  background: #FFAC12;
}

.content__link span{
  color: #000000;
  
}

.content__link .arrow__right path {
  fill:#fff
}

/* ============== CLIENTS ================*/

.clients{
  padding-top: 150px;
  padding-bottom: 150px;

  background-color: #fff;
}

.clients__wrapper {
  max-width: 1099px;
  margin-right: auto;
  margin-left: auto;
}

.clients__text{   
  position: relative; 
  padding-top: 40px;           /* правильно ли оформил? */
  display: block;
  margin: 0 auto 60px auto;
  text-align: start;
  max-width: 336px;


  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.603077px;
  color: #000000;
}

.clients__text::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 336px;
  height: 4px;

  background: linear-gradient(90deg, #FFAC12 0%, #000000 94.96%);
}

.clients__list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 31px;
}

.clients__item {
  display: flex;
  justify-content: flex-start;
  padding: 46px 133px 46px 40px;
}
.clients__photos{
  width: 49px;
  height: 49px;
  margin-right: 20px;

}

.clients__name{
  display: block;
  margin: 0;
  margin-bottom: 4px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.376923px;
  color: #000000;
}

.clients__status{
  display: block;
  margin: 0;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.376923px;
  color: #979797;
}

.clients__item-central {
  display: flex;
  justify-content: flex-start;
  padding: 46px 133px 46px 40px;
  background-color: black;
}
.clients__photos-central{
  width: 49px;
  height: 49px;
  margin-right: 20px;

}

.clients__name-central{
  display: block;
  margin: 0;
  margin-bottom: 4px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.376923px;
  color: white;
}

.clients__status-central{
  display: block;
  margin: 0;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.376923px;
  color: #979797;
}


/* ========= FOOTER=======*/

.footer {
  padding: 87px 0 150px 0;
  background: linear-gradient(225.52deg, #271A00 0.45%, rgba(0, 0, 0, 0.982162) 45.25%);
}


.top__footer{
  position: relative;
  margin-bottom: 51px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.top__footer::after{
  position: absolute;
  content: "";
  width: 1069px;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.1;
}

.top__footer-title {
  display: block;
  margin: 0;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  letter-spacing: -1.05538px;
  color: #FFFFFF;
}

.top__footer-title span {
  display: inline-block;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  letter-spacing: -1.05538px;
  color: #FFAC12;
  
}

.footer__top-link{
  display: flex;
  background-color: #ffac12;
  border-radius: 0px 18px 0px 0px;
  

}



.footer__top-link span{
  display: block;
  padding: 14px 9px 14px 40px;

  color: #000000;
  
}

/* =========== BOTTOM FOOTER ======= */


.bottom__footer{
  display: flex;
  justify-content: space-between;
  
}

.footer__social{
  margin-right: 271px;
}

.footer__logo{
  margin-bottom: 30px;
}

.footer__social__media a:not(:last-child){
  margin-right: 40px;
}

.social-link{
  text-decoration: none;
  color: #fff;
  transition: .3s;
}

.social-link:hover, .social-link:focus{ 
  color: #ffac12;

}

.social__logo path{
  fill: currentColor;
}

.footer_nav__title{
  display: block;
  margin: 0;
  margin-bottom: 10px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.376923px;
  color: #FFFFFF;
}

.footer__list li:not(:last-child){
  margin-bottom: 10px;
}


.bottom__link{
  display: block;
  margin: 0;
  
  text-decoration: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.376923px;
  color: #979797;
  transition: .3s;
}




.bottom__link:hover, .bottom__link:focus{
  color: #ffac12;
}
